* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

main {
  padding: 1rem 2rem;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 0.5rem;
  white-space: nowrap;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 0.5rem 0.8rem;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


#stats {
  position: relative;
  display: flex;
  margin-bottom: 0.5rem;
}